* {
    font-family: "Geist", sans-serif;
}
@media screen and (max-width: 1152px) {
    .header {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
    }
}
@media screen and (max-width: 576px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
    }
}